.env
docs
Makefile_bk
goprint.sh


# Build artifacts
/bin/gateway
/bin/worker
/bin/golangci-lint
/bin/*-darwin-amd64
/bin/*-linux-amd64

# Coverage
coverage.out

# BK
internal/api/server_test.go_bk
internal/api/ulid.go_bk
cmd/worker/main.go_bk
internal/api/consumer.go_bk
internal/config/config.go_bk
internal/kafka/producer.go_bk
internal/providers/heavy/client.go_bk
internal/providers/openai_client.go_bk
internal/worker/worker.go_bk
