.env
docs
Makefile_bk
goprint.sh


internal/api/server_test.go_bk
internal/api/ulid.go_bk

# Build artifacts
/bin/gateway
/bin/worker
/bin/golangci-lint
/bin/*-darwin-amd64
/bin/*-linux-amd64

# Coverage
coverage.out
